<div class="nav_bar">
    <!-- <a [routerLink]="['home-page']" class="navbar-brand logo float-start">
        
        GroceryForYou
    </a> -->
    <!-- <form class="search_form float-start">
        <input type="text" name="search" placeholder="Search for products, grocery and more...">
        <button type="submit" class="btn">
            <i class="fa fa-search"></i>
        </button>
    </form> -->

    <ul class="nav nav-pills top_nav">
        <li class="nav-item">
            <a [routerLink]="['home-page']" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['home-page']" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['product-page']" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['login']" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-shopping-cart"></i> Cart</a>
        </li>
    </ul>
</div>