/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    background-color: #f1f3f6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}